@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url(https://img.freepik.com/foto-gratis/fondo-creativo-ruleta-dados-juego-cartas-fichas-casino-sobre-fondo-oscuro_99433-24.jpg?w=826);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-size: cover;
}

.card {
  background-color: white;
  margin-top: 2%;
  margin-left: 60%;
  height: 400px;
  width: 300px;
  padding: 5px 10px;
  border-radius: 5%;
  box-shadow: 0px 5px 15px rgb(243, 98, 15);
}
.icono {
  height: 33%;
  font-size: 75px;
}
.number {
  font-size: 100px;
}
.title {
  color: rgb(249, 225, 147);
  text-shadow: 0px 4px 3px rgb(242, 118, 23);
}
.titleAndButton {
  margin-top: 5%;
  margin-left: 41%;
  text-align: center;
}
#btnBaraja,
#btnCronometro {
  background-color: rgb(249, 225, 147);
  font-family: "Times New Roman", Times, serif;
  padding: 6px;
  border-radius: 10%;
  font-weight: bold;
  margin-top: 1rem;
  width: 110px;
  border-color: orange;
}

#btnBaraja:active,
#btnCronometro:active {
  border-color: orange;
}
